.sc_news {
    height: 350px;
    overflow: hidden;
}

.sc_news .slide_area {
    float: left;
    width: 770px;
    position: relative;
}

.sc_news .slide_area .button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.sc_news .slide_area .button>div {
    position: absolute;
    width: 80px;
    height: 175px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #d2e1e9;
    color: #000;
    padding-top: 50px;
}
.sc_news .slide_area .button>div.on{background-color: #0158a8; }
.sc_news .slide_area .button>div.on a {
    display: block;
    height: 100%;
    color: #fff;
}

.citizen_part {
    top: 175px;
}

.sc_news .slide_area .button>div.on::after {
    content: " ";
    position: absolute;
    z-index: 10;
    left: 99%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 32px;
    border-color: transparent transparent transparent #0158a8;
    margin-top: -25px;
}

.sc_news .slide_area .button i {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 50%;
}

.sc_news .slide_area .news {
    background-position: 0 0;
    height: 100%;
    width: 100%;
}

.sc_news .slide_area .citizen {
    background-position: -50px 0;
    height: 100%;
    width: 100%;
}

.sc_news .swiper.on {
    display: block;
    margin-left: 80px;
    position: relative;
    width: 690px;
    height: 350px;
}

.sc_news .swiper .swiper-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sc_news .swiper .swiper-slide {
    width: 100%;
}

.sc_news .swiper .swiper-slide a {
    width: 100%;
    display: inline-block;
    height: 100%;
}

.sc_news .swiper .swiper-slide img {
    width: 100%;
    display: inline-block;
    height: 100%;
}

.sc_news .swiper .swiper-slide .text_wrap {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 122px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.sc_news .swiper .swiper-button-next {
    position: absolute;
    top: 345px;
    z-index: 2;
    background-position: -256px -285px;
    width: 18px;
    height: 18px;

}

.sc_news .swiper .stop {
    display: block;
    position: absolute;
    bottom: 9px;
    left: 645px;
    z-index:99;
    opacity: 1;
    background-position: -285px -285px;
    width: 18px;
    height: 18px;
    pointer-events: all;
    cursor: pointer;
}
.sc_news .swiper .play {
    display: none;
    position: absolute;
    bottom: 9px;
    left: 645px;
    z-index:1;
    opacity: 1;
    background-position: -269px -285px;
    width: 18px;
    height: 18px;
    cursor: pointer;
   
}

.sc_news .swiper .swiper-button-prev {
    position: absolute;
    top: 345px;
    left: 625px;
    z-index: 2;
    opacity: 1;
    background-position: -241px -285px;
    width: 18px;
    height: 18px;

}

.sc_news .swiper .swiper-pagination {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    bottom: 13px;
    text-align: right;
    padding-right: 80px;
    font-size: 13px;
    color: #fff;
    z-index:1;
    opacity: 1;
}

.sc_news .swiper .swiper-pagination::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 66px;
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, .5);
}

.sc_news .corona_news {
    float: right;
    width: 360px;
    height: 213px;
    position: relative;
    background: url(../img/bg_corona_pc_220304.jpg) no-repeat center;
    background-position: cover;

}

.sc_news .corona_news .corona {
    display: block;
    width: 100%;
    height: 93px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.sc_news .corona_news .date1 {
    position: absolute;
    top: 11px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 20px;
}

.sc_news .corona span {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 70px;
}

.sc_news .corona .new {
    left: 65px;
}

.sc_news .corona .total {
    right: 50px;
}

.sc_news .shot {
    display: block;
    width: 100%;
    height: 93px;
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0;
}

.sc_news .date2 {
    position: absolute;
    top: 118px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 20px;
}

.sc_news .shot span {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 78px;
    left: 40px;
}

.sc_news .shot .second {
    left: 150px;
}

.sc_news .shot .third {
    left: 260px;
}


.mayer {
    float: right;
    position: relative;
}

.mayer img {
    display: inline-block;
    height: 100%;
}

.buttons {
    position: absolute;
    left: 10px;
    bottom: 10px;
    overflow: hidden;
}

.to_mayer {
    float: left;
    width: 97px;
    height: 30px;
    display: inline-block;
    background: url(../img/img-mayor2022-banner01.png) no-repeat center;
    background-size: cover;
    margin-right: 10px;
}

.mayer2 {
    float: left;
    width: 97px;
    height: 30px;
    display: inline-block;
    background: url(../img/img-mayor2022-banner02.png) no-repeat center;
    background-size: cover;
}


.sc_main_service {
    padding: 50px 0;
}

.sc_main_service .title {
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.sc_main_service h2 {
    font-size: 24px;
    float: left;
    font-weight: 700;
}

.sc_main_service .btn {
    float: right;
    width: 112px;
    height: 29px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    padding-left: 13px;
    line-height: 28px;
    background: url(../img/icon_link6.png) no-repeat right 13px top 50%;
}

.sc_main_service .btn a {
    display: inline-block;
    height: 100%;
}

.sc_main_service ul {
    overflow: hidden;
}

.sc_main_service ul li {
    float: left;
    font-size: 15px;
    height: 90px;
    text-align: center;
    letter-spacing: -1px;
    margin: 0 14px;
}

.sc_main_service ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.sc_main_service ul li a i {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.sc_main_service ul li a em {
    display: block;
}

.sc_main_service ul li:first-child a i {
    background-position: -360px 0;
}

.sc_main_service ul li:nth-child(2) a i {
    background-position: 0 0;
}

.sc_main_service ul li:nth-child(3) a i {
    background-position: -120px 0;
}

.sc_main_service ul li:nth-child(4) a i {
    background-position: -300px 0;
}

.sc_main_service ul li:nth-child(5) a i {
    background-position: -180px 0;
}

.sc_main_service ul li:nth-child(6) a i {
    background-position: -960px 0;
}

.sc_main_service ul li:nth-child(7) a i {
    background-position: -780px 0;
}

.sc_main_service ul li:nth-child(8) a i {
    background-position: -840px 0;
}

.sc_main_service ul li:nth-child(9) a i {
    background-position: -1080px 0;
}

.sc_main_service ul li:nth-child(10) a i {
    background-position: -600px 0;
}


.corona_banner {
    margin-top: 35px;
    background: #eff4f8;
}

.corona_banner ul {
    overflow: hidden;
}

.corona_banner ul li {
    float: left;
    padding: 20px 0;
    width: 25%;
}

.corona_banner ul li a {
    display: inline-block;
    height: 100%; width: 100%;

}

.sc_board {
    padding: 50px 0 50px;
    border-bottom: 2px solid #222222;
    overflow: hidden;
    
}

.sc_board>div {
    position: relative;
    float: left;
    width: 33%;
    padding-right: 40px;
    box-sizing: border-box;
}

.sc_board>div:last-child {
    padding-right: 0;
}



.sc_board>div h2 {
    float: left;
    font-size: 24px;
    padding-bottom: 15px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #dbdbdb;
    font-weight: 700;
   
}

.sc_board>div .more {
    position: absolute;
    top: 0;
    right: 40px;
    width: 22px;
    height: 20px;
    border: 1px solid #ddd;
    background-position: -1px -1px;
}

.sc_board>div ul {
    margin-top: 10px;
    
}

.sc_board>div ul li {
    display: inline-block;
    padding: 6px 0;
    position: relative;
    width: 100%;
    font-size: 15px;
    line-height: 1.35
}

.sc_board>div ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc_board>div ul li a span {
    float: left;
    margin-right: 9px;
}

.sc_board>div ul li a p {
   
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.sc_board .service_board .title_wrap {
    border-bottom: none;
}

.sc_board .service_board ul {
    background: #eff4f8;
    overflow: hidden;
    padding: 17px 5px 7px 20px;
}

.sc_board .service_board ul li {
    width: 50%;
    position: relative;
    padding: 0 0 10px 10px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}

.sc_board .service_board ul li::before {
    content: '';
    position: absolute;
    background: #666666;
    width: 2px;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: -6px;
}

.service_board ul li a {
    display: inline-block;
    width: 96%;

    font-size: 15px;
    color: #333;
}

.cul {
    color: #9b64d3;
}

.adm {
    color: #028ab6;
}

.home {
    color: #c35c3c;
}

.env {
    color: #599100;
}

.eco {
    color: #069363;
}
.wel{color:#d76000;}

.sc_info {
    height: 225px;
    padding-top: 40px;
}

.sc_info h2 {
    padding: 0 0 20px 0;
    font-size: 24px;
    font-weight: 700;
}

.sc_info ul {
    overflow: hidden;
    padding: 0 27px;
    margin-left: -59px;
    box-sizing: border-box;
}

.sc_info ul li {
    float: left;
    width: 85px;
    height: 145px;
    margin-left: 59px;
    text-align: center;
}

.sc_info ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.sc_info ul li a i {
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
}

.sc_info ul li a em {
    display: block;
}

.sc_info ul li:nth-child(1) a i {
    background: url(../img/icon_house.png) no-repeat;
}

.sc_info ul li:nth-child(2) a i {
    background: url(../img/icon_economy.png) no-repeat;
}

.sc_info ul li:nth-child(3) a i {
    background: url(../img/icon_traffic.png) no-repeat;
}

.sc_info ul li:nth-child(4) a i {
    background: url(../img/icon_environment.png) no-repeat;
}

.sc_info ul li:nth-child(5) a i {
    background: url(../img/icon_welfare.png) no-repeat;
}

.sc_info ul li:nth-child(6) a i {
    background: url(../img/icon_safty.png) no-repeat;
}

.sc_info ul li:nth-child(7) a i {
    background: url(../img/icon_culture.png) no-repeat;
}

.sc_info ul li:nth-child(8) a i {
    background: url(../img/icon_work.png) no-repeat;
}


.sc_news_list {
    position: relative;
    padding: 20px 0 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.sc_news_list .title_wrap {
    overflow: hidden;
}

.sc_news_list .title_wrap h2 {
    float: left;
    padding-bottom: 20px;
    font-size: 24px;
    display: inline-block;
    font-weight: 700;
}

.sc_news_list .title_wrap a {
    float: right;
    font-size: 15px;
    color: #7d7d7d;
    display: inline-block;
}

.sc_news_list .title_wrap a .all {
    width: 19px;
    height: 19px;
    background-position: 0 -259px;



    
}

.sc_news_list .cont_box {
    float: left;
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

.sc_news_list .cont_box:last-child .img_wrap {
    height: 100%;
   
}
.sc_news_list .cont_box .img_wrap {
 position: relative;
   
}
.sc_news_list .cont_box em{
    height: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    width: 82px;
    height: 32px;
    font-size: 14px;
    color:#fff;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
em.cul {
    background-color: #9b64d3;
}

em.adm {
    background-color: #028ab6;
}

em.home {
    background-color: #c35c3c;
}

em.env {
    background-color: #599100;
}

em.eco {
    background-color: #069363;
}
em.wel{background-color:#d76000;}

.sc_news_list .list>div:nth-child(4n) {
    margin-right: 0;
}

.sc_news_list .img_wrap {
    width: 100%;
    height: 188px;
    margin-bottom: 15px;
    overflow: hidden;
}

.sc_news_list .img_wrap img {
    height: 100%;
    display: block;
    width: 100%;
}

.sc_news_list .img_wrap:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}
.sc_news_list .cont_box:last-child .img_wrap:hover img {
  transform: none;
}


.sc_news_list .text_wrap p{
    display:-webkit-box;
    font-size: 16px;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #222;
   
}
.sc_seoul {
    overflow: hidden;
    padding-bottom: 50px;
}

.sc_seoul h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 11px;
}

.sc_seoul>div {
    float: left;
}

.sc_seoul .img {
    width: 280px;
    height: 152px;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
}

.sc_seoul .img:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

.sc_seoul .video .text_wrap p {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 11px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.seoul_news ul {
    width: 480px;
    letter-spacing: -1px;
}

.seoul_news ul li {
    padding: 8px;
    width: 100%;
    font-size: 16px;
    color: #555555;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.seoul_news ul a:first-child{
    float: left;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #09ac43;
    margin-right: 18px;
}

.seoul_news ul a:last-child {

}

.sns {
    position: relative;
    width: 350px;
    height: 195px;
    background: url(https://www.seoul.go.kr/res_newseoul/images/main/bg_sns_list.jpg?ver=20191204) no-repeat center;
    background-size: cover;
    margin-left: 20px;
}

.sns .title_wrap {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 22px;


}

.sns .title_wrap h2 {
    font-size: 22px;
    margin-right: 6px;
    display: inline-block;
}

.sns .title_wrap i {
    padding-left: 6px;
    border-left: 1px solid #878787;
    width: 34px;
    height: 24px;
    background-position: -247px 0;
    position: absolute;
    top: 0;
    left: 120px;
}

.sns .sns_list {
    overflow: hidden;
    position: absolute;
    top: 90px;
    left: 50%;
    width: 276px;
    height: 40px;
    margin-left: -138px;
}

.sns .sns_list a {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 3px;
}

.sns .sns_list a:nth-child(1) {
    background-position: 0 0;
}

.sns .sns_list a:nth-child(2) {
    background-position: -40px 0;
}

.sns .sns_list a:nth-child(3) {
    background-position: -80px 0;
}

.sns .sns_list a:nth-child(4) {
    background-position: -120px 0;
}

.sns .sns_list a:nth-child(5) {
    background-position: -160px 0;
}

.sns .sns_list a:nth-child(6) {
    background-position: -200px 0;
}

.big_banner {
    margin-bottom: 50px;
}

.big_banner a {
    display: inline-block;
    height: 100%;
}

.big_banner a img {
    display: inline-block;
    height: 100%;
}


.banner_slide {
    position: relative;
    padding: 50px 0 50px 0;
    border-top: 2px solid #222;
    box-sizing: border-box;
}

.banner_slide .banner {
  
    position: relative;
}

.banner_slide .banner .swiper-slide {

}

.banner_slide .banner .swiper-slide a {
    display: inline-block;
    height: 100%;
}

.banner_slide .banner .swiper-slide a img {
    display: inline-block;
    height: 100%;
}
.banner_slide .swiper-pagination{
    position: absolute;
    z-index: 1;
    top: 183px;
    left: 1015px;
    font-size: 15px;
    width: 60px;
    height: 20px;
    color:#000;
}
.banner_slide .control {
   
    position: absolute;
    bottom: 40px;
    right: 10px;
    z-index: 1;
    width: 64px;
}

.banner_slide .swiper-button-next {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 40px;
    top:22px;
    border: 1px solid #999;
    background-position: -86px -43px;
    
}

.banner_slide .swiper-button-prev {
    width: 20px;
    height: 20px;
    top:22px;
    left: 0;
    border: 1px solid #999;
 
    opacity: 1;
    background-position: -45px -43px;
 
}

.banner_slide .swiper-button-stop {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top:0px;
    left: 20px;
    background-color: #fff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-position: -65px -43px;
    cursor: pointer;
    z-index: 1;
  
}
.banner_slide .swiper-button-play {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top:0px;
    left: 20px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-position: -101px -43px;
    cursor: pointer;
}